* {
  /* Recomendo não alterar nada aqui dentro */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* Recomendo não alterar nada aqui dentro, só adicionar */
  --green: #009c3b;
  --yellow: #ffdf00;
  --blue: #002776;
}
